<div class="card">
    <%= render 'shared/nav' %>
    <div class="card-body top">
        <%= link_to 'Oldest', categories_most_ancient_list_path, class: 'float-end px-3 floaters' %>
        <%= link_to 'Recent', categories_most_recent_list_path, class: 'float-end px-3 floaters' %>
    </div>
</div>
<div class="card">
    <div class="card-body">
    <p>Person Finance</p>
    </div>
</div>
<div class="row">
    <% @user.most_recent_categories.each do |category| %>
        <div class="col-md-3">
            <div class="m-3 bg-white category-card">
                <% if category.icon.present? %>
                    <%= image_tag category.icon, class: "catagory-photo" %>
                <% else %>
                    <%= image_tag "category.jpg", class: "catagory-photo" %>
                <% end %>
                    <div class="trans-text">
                        <div>
                            <p class="text-start"><%= link_to category.name, category_payments_path(category_id: category.id) %></p>
                            <p class="text-end"><%= l category.created_at.to_date, format: :long %></p>
                        </div>
                        <p class="fw-bold p-3">$<%= Payment.where(category_id: category.id).reduce(0) { |sum, t| sum + t.amount } %></p>
                    </div>
            </div>
        </div>
    <% end %>
</div>
<div class="btn-wrapper d-grid gap-2 d-md-block">
  <button class="btn-main" type="button">
    <%= link_to 'Add Category', new_category_path %>
  </button>
</div>

